{% extends "base_generic.html" %}

{% block title %}<title>{{ apparatus.name }}</title>{% endblock %}

{% block content %}
  <h1>{{ apparatus.name }}</h1>
  <p><strong>Notes:</strong> {{ apparatus.notes }}</p>
  <p><a href="{% url 'upload_xlsx' apparatus.pk %}">Upload Test (*.xlsx)</a></p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Tests</h4>

    {% for test in apparatus.test_set.all %}
      <hr>
      <p><strong><a href="{% url 'test' test.pk %}">{{test.name}}</a></strong></p>
    {% endfor %}
  </div>
{% endblock %}
