{% extends "base_generic.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <span class="align-middle"><h1>{{ cathode.name }}</h1></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"><span class="align-middle"><a href="{% url 'admin:system_cathode_change' cathode.pk %}">Edit</a></span></div>
  </div>
  <hr>
  <p><strong>Description:</strong> {{ cathode.description }}</p>
  <p><strong>Type:</strong> {{ cathode.type }}</p>
  <p><strong>Install date:</strong> {{ cathode.installed }}</p>
  <p><strong>Removal date:</strong> {{ cathode.removed }}</p>

  <p><strong>Operation time:</strong> {{ time |floatformat:"-3"}} [min]</p>
  <p><strong>Total power usage:</strong> {{ energy |floatformat:"-3"}} [MJ]</p>
  <p><strong>Total mass flow:</strong> {{ mass |floatformat:"-3" }} [kg]</p>

  <p><strong>Notes:</strong> {{ cathode.notes }}</p>
  <div style="margin-left:20px;margin-top:20px">
  </div>
{% endblock %}