{% extends "base_generic.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <span class="align-middle"><h1>Disk: {{ disk.name }}</h1></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"><span class="align-middle"><a href="{% url 'admin:system_disk_change' disk.pk %}">Edit</a></span></div>
  </div>
  <hr>

  <div class="row">
    <div class="col-lg-12">
      <p><strong>Operation time:</strong> {{ time |floatformat:"-3"}} [min]</p>
      <p><strong>Total power usage:</strong> {{ energy |floatformat:"-3"}} [MJ]</p>
      <p><strong>Total mass flow:</strong> {{ mass |floatformat:"-3" }} [kg]</p>

      <p><strong>Notes:</strong> {{ disk.notes }}</p>
      {% if disk.photo %}
        <img src="{{disk.photo.url}}" alt="{{disk.name}}">
      {% endif %}
      <div style="margin-left:20px;margin-top:20px">
      </div>

      <br>
      <h3>Associated Runs:</h3>
      <table style="width:100%">
      <tr>
          <th>Run</th>
          <th>Test</th>
          <th>Date</th>
      </tr>
      {% for run in disk.run_set.all %}
          <tr>
              <td><a href="{% url 'run-detail' run.pk %}">{{run.name}}</a></td>
              <td><a href="{% url 'test' run.test.pk %}">{{run.test.name}}</a></td>
              <td>{{run.date}}</td>
          </tr>
      {% endfor %}
      </table>
      <hr>
    </div> <!-- end col -->
  </div> <!-- end row -->
{% endblock %}