{% extends "base_generic.html" %}

{% block title %}<title>{{ run.name }}</title>{% endblock %}

{% block head %}
  <!-- Bokeh plotting JS and CSS -->
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.js"></script>
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{% if user.is_staff %}
    <a href="{% url "admin:data_run_change" run.pk %}"><h1>Run: {{ run.name }}</h1></a>
{% else %}
    <h1>Run: {{ run.name }}</h1>
{% endif %}
<div class="row">
  <div class="col-sm-3">
      <p><strong>Apparatus:</strong> <a href="{% url 'apparatus-detail' run.test.apparatus.pk %}">{{ run.test.apparatus.name }}</a></p>
      <p><strong>Test:</strong> <a href="{% url 'test' run.test.pk %}">{{ run.test.name }}</a></p>
      <p><strong>Date:</strong> {{ run.date }}</p>
  </div>
  <div class="col-sm-4">
        <p><strong>PI:</strong> {{ run.principle_investigator.name }}</p>
        <p><strong>Test Engineer:</strong> {{ run.test_engineer.name }}</p>
        <p><strong>Operator:</strong> {{ run.operator.name }}</p>
  </div>
  <div class="col-sm-5">
      <p><strong>Run objective:</strong> {{ run.objective }}</p>
      <p><strong>Notes:</strong> {{ run.notes }}</p>
    </div>
</div>

<p><strong><a href="{% url 'run-detail-csv' run.pk %}">Download CSV</a></strong></p>
<div class="row">

	<div class="col-sm-3" style="margin-left:20px;margin-top:20px">
    <h4>Diagnostics:</h4>
    
    {% for diag in diagnostics %}
      <hr>
      <p><strong>{{diag.name}}</strong></p>
    {% endfor %}
  </div>

  <div class="col-sm-6">
  {{ div | safe }}
  {{ script | safe }}
  </div>

</div> <!-- end row-->
{% endblock %}


