{% extends "base_generic.html" %}

{% block head %}
  <!-- Bokeh plotting JS and CSS -->
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
  <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.js"></script>
  <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-x.y.z.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <h1>Sheet: {{ sheet.name }}</h1>
<div class="row">
  <div class="col-sm-4">
      <p><strong>Spreadsheet:</strong> <a href="{% url 'spreadsheet-detail' sheet.spreadsheet.pk %}">{{ sheet.spreadsheet.filename }}</a></p>
  </div>
    <div class="col-sm-2">
      <p><strong>Avg current [A]:</strong> {{ sheet.avg_current|floatformat }}</p>
      <p><strong>Stdev current [A]:</strong> {{ sheet.std_current|floatformat }}</p>
      <p><strong>Avg voltage [V]:</strong> {{ sheet.avg_voltage|floatformat }}</p>
  </div>
    <div class="col-sm-2">
      <p><strong>Avg plasma gas [g/s]:</strong> {{ sheet.avg_plasma_gas|floatformat:3 }}</p>
      <p><strong>Avg shield gas [g/s]:</strong> {{ sheet.avg_shield_gas|floatformat:3 }}</p>
  </div>
  <div class="col-sm-3">
      <p><strong>Avg column pressure [Pa]:</strong> {{ sheet.avg_column_pressure|floatformat }}</p>
      <p><strong>Avg chamber pressure [Pa]:</strong> {{ sheet.avg_chamber_pressure|floatformat }}</p>
  </div>
</div>
<p><strong>Notes:</strong> {{ sheet.notes }}</p>
<p><strong><a href="{% url 'sheet-detail-csv' sheet.pk %}">Download CSV</a></strong></p>
<div class="row">

	<div class="col-sm-3" style="margin-left:20px;margin-top:20px">
    <h4>Diagnostics:</h4>
    
    {% for diag,dpk in list_diagnostics %}
      <hr>
      <p><strong>{{diag}}</strong></p>
    {% endfor %}
  </div>

  <div class="col-sm-6">
  {{ div | safe }}
  {{ script | safe }}
  </div>

</div> <!-- end row-->
{% endblock %}
