{% extends "base_generic.html" %}

{% block title %}<title>Upload *.xlsx</title>{% endblock %}

{% block content %}
<p><h2>Upload Experiment</h2></p>
<p><a href="{% url 'apparatus' apparatus_pk %}">Back to experiments</a></p>
<form action="{% url "upload_xlsx" apparatus_pk%}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
{% csrf_token %}
{{form.as_p}}
<div class="form-group">                    
    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload</button>
    </div> 
</div>
</form>

{% if show_response %}
    {% if success %}
        <p>Upload successful</p>
    {% else %}
        <p>Upload failed</p>
    {% endif %}
{% endif %}

{% endblock %}
