{% extends "base_generic.html" %}

{% block content %}
  <h1>Arcjet database v2.0</h1>
  <p>Welcome to the arcjet database</p>
  <h2>Overview</h2>
  <p>This database contains:</p>
  <ul>
    <li><strong>Facilities:</strong> {{ num_facilities }}</li>
    <li><strong>Apparatus:</strong> {{ num_apparatus }}</li>
    <li><strong>Experiments:</strong> {{ num_experiments }}</li>
    <li><strong>Runs:</strong> {{ num_runs }}</li>
    <li><strong>Records:</strong> {{num_records}}</li>
  </ul>
{% endblock %}
